/***************************************************
IMPORT
***************************************************/
@import 'normalize';
@import 'font-awesome';
@import 'toastr';

/***************************************************
COLORS
***************************************************/

$Background: #f5f5f5;
$Main: #6991ac;
$Secondary: #67727a;
$Accent: #d75c37;
$Black: #444444;
$White: #F7F7F7;
$Grey: lighten($Black, 50%);
$BreakPoint: 850px;

/***************************************************
BODY HTML
***************************************************/

body {
  background-color: $Background;
  color: $Black;
  font-family: 'Montserrat', 'Kanit', sans-serif;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

/***************************************************
CUSTOM
***************************************************/

::-webkit-scrollbar {
  display: none;
}

p {
  line-height: 24px;
}

a {
  cursor: pointer;
  color: $Main;
  text-decoration: none;
  //border-bottom: 1px solid $Black;
}

a:hover {
  color: $Secondary;
}

b {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.cursor-text {
  cursor: text;
}

.page-header {
  text-align: center;
  font-size: 3em;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto 64px auto;
  min-height: 100vh;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

hr {
  border-top: 1px solid $Grey;
}

hr.hr-fancy {
  border-top: 32px solid $Main;
  width: 99%;
  border-radius: 5px;
  margin: 32px auto;
}

/***************************************************
INPUTS AND BUTTONS
***************************************************/

input[type='email'], input[type='password'], input[type='text'], textarea {
  padding: 4px 8px;
  width: 100%;
  background: none;
  outline: none;
  border: 1px solid $Main;
  margin: 8px 0;
  line-height: 24px;
  height: 32px;
}

textarea {
  height: 400px;
  resize: none;
}

select {
  width: 50%;
  background: none;
  outline: none;
  border: 1px solid $Main;
  margin: 8px 0;
  height: 24px;
  line-height: 24px;
}

label {
  display: block;
  margin-top: 8px;
}

input[type='submit'], button, input[type='submit']:active, button:active {
  margin-top: 8px;
  background: none;
  padding: 8px 16px;
  border: 1px solid $Main;
  color: $Main;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

input[type='submit']:hover, button:hover {
  color: $White;
  background: $Main;
}

form {
  width: 60%;
  margin: 0 auto;
}

/***************************************************
NAVBAR
***************************************************/

.navbar {
  margin: 0 auto 64px auto;
  max-width: 700px;
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
  i {
    cursor: pointer;
    color: $Main;
    margin: auto;
    font-size: 3em;
  }
  i:hover {
    color: $Secondary;
  }
  * {
    flex: 1;
  }
  .hamburger-container {
    position: relative;
    text-align: right;
    .navbar-menu {
      width: 216px;
      background: $Main;
      text-align: left;
      position: absolute;
      top: 48px;
      right: 14px;
      padding: 0 32px 32px 32px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          cursor: pointer;
          font-size: 1.5em;
          padding-top: 32px;
          margin: auto 0;
          width: 100%;
          div {
            display: flex;
            color: $White;
            .icon-container {
              flex: 1;
              i {
                font-size: 1em;
                color: $White;
              }
            }
            .name-container {
              flex: 2;
            }
          }
          div:hover {
            color: #FFF;
            .icon-container {
              i {
                color: #FFF;
              }
            }
          }
        }
      }
    }
  }
  .home-link-container {
    display: inline-block;
    flex: 0;
    margin-left: 8px;
  }
}

/***************************************************
LANDING
***************************************************/

.landing-container {
  @media ( max-width: $BreakPoint ) {
    width: 100vw;
  }
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  h1 {
    font-size: 3em;
  }
  .info-bar {
    border-radius: 5px;
    font-size: 1.5em;
    color: $White;
    text-align: center;
    padding: 16px 32px;
    background: $Main;
    width: 844px;
    margin: -32px 0 0 -22px;
    * {
      margin: 0;
    }
  }
  .personal-info {
    h1 {
      font-size: 4em;
      text-align: center;
      margin-bottom: 16px;
    }
    p {
      font-size: 1.2em;
    }
  }
}

#personal-image {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  background-image: url(asset_path('default'));
  background-size: contain;
}

.landing-section-container {
  h1 {
    margin-bottom: 32px;
  }
}

.projects {
  h1 {
    margin-bottom: 32px;
  }
  .recent-projects-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    .recent-project-image {
      height: 249px;
      width: 249px;
      border-bottom: 1px solid $Grey;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .recent-project-container {
      width: 250px;
      border: 1px solid $Grey;
      text-align: center;
      h2 {
        margin-top: 4px;
      }
      i {
        font-size: 2em;
      }
      p {
        text-align: left;
        padding: 0 8px;
      }
      .links {
        padding-bottom: 8px;
        a, i {
          color: $Black;
          padding: 4px;
        }
      }
    }
  }

  .about-preview-container {
    h1 {
      margin-bottom: 32px;
    }
  }
}

/***************************************************
PROJECTS
***************************************************/

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .project {
    border: 1px solid $Grey;
    width: 250px;
    text-align: center;
    margin-bottom: 16px;
    h2 {
      margin-top: 4px;
    }
    i {
      font-size: 2em;
    }
    p {
      text-align: left;
      padding: 0 8px;
    }
    .links {
      padding-bottom: 8px;
      a, i {
        color: $Black;
        padding: 4px;
      }
    }
    .project-image {
      height: 248px;
      width: 248px;
      background-size: contain;
      background-repeat: no-repeat;
      border-bottom: 1px solid $Grey;
    }
  }
}

/***************************************************
ADMIN
***************************************************/

.admin-navbar {
  width: 800px;
  margin: 0 auto 64px 0;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  * {
    cursor: pointer;
  }
}

.admin-projects {
  div {
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      cursor: pointer;
      border-bottom: 1px solid $Black;
      * {
        flex: 1;
      }
    }
  }
}

.admin-project {

}

/***************************************************
ABOUT
***************************************************/

.about-container {
  .links {
    text-align: center;
  }
  .experiences {
    span {
      padding-right: 8px;
    }
    div {
      border-bottom: 1px solid $Grey;
    }
  }
}

/***************************************************
RESUME
***************************************************/

.resume-container {
  .downloads-container {
    margin-bottom: 32px;
    a {
      padding: 0 8px;
    }
  }
  .resume {
    margin: 0 auto;
    height: 1028px;
    width: 792px;
    display: block;
  }
  .resume-1 {
    background: url(asset_path('resume-1'));
    background-size: contain;
    background-repeat: no-repeat;
  }
  .resume-2 {
    background: url(asset_path('resume-2'));
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/***************************************************
DEVISE
***************************************************/

.devise-container {
  width: 500px;
  margin: 0 auto;
}

/***************************************************
FOOTER
***************************************************/

.footer {
  margin: 0 auto;
  max-width: 800px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $Black;
  }
  * {
    margin: auto 0;
  }
  i {
    padding-left: 8px;
  }
  i:hover {
    color: $Main;
  }
}

/***************************************************
NO MATCH
***************************************************/

.no-match-container {
  text-align: center;
}

/***************************************************
MEDIA QUERIES
***************************************************/

@media ( max-width: $BreakPoint ) {
  .container {
    padding: 0 4px;
  }
  .landing-container {
    .info-bar {
      border-radius: 5px;
      font-weight: 500;
      color: $White;
      text-align: center;
      padding: 16px 0;
      background: $Main;
      width: 100%;
      margin: -32px 0 0 0;
      font-size: 1em;
      b {
        padding: 0 16px;
      }
    }
    #personal-image {
      height: calc(100vw - 16px);
      width: calc(100vw - 16px);
      max-width: 400px;
      max-height: 400px;
    }
    .personal-info {
      h1 {
        font-size: 3em;
      }
    }
  }
  .projects {
    .recent-projects-container {
      flex-direction: column;
      .recent-project-container {
        margin: 0 auto 16px auto;
      }
    }
  }
  .projects-container {
    .project {
      margin: 0 auto 16px auto;
    }
  }
  .resume-container {
    .resume {
      display: none;
    }
  }
}
